header {
  background-color: #3498db;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
  }
}
