<div class="product-card mouse-pointer" (click)="showProduct()">
  <img [src]="product.image" alt="Product Image" class="product-image" />
  <div class="product-info">
    <h2 class="product-name">{{ product.name }}</h2>
    <p class="product-description">{{ product.description }}</p>
    <span class="product-price">{{ product.price | currency : "INR" }}</span>
    <div class="product-details">
      <div class="button-group">
        <button
          *ngIf="isEditor"
          class="edit-button"
          (click)="edit(); $event.stopImmediatePropagation()"
        >
          Edit
        </button>
        <div class="quantity-controls">
          <button
            [disabled]="quantity == 0"
            (click)="decrease(); $event.stopImmediatePropagation()"
          >
            -
          </button>
          <span>{{ quantity }}</span>
          <button (click)="increase(); $event.stopImmediatePropagation()">
            +
          </button>
        </div>
        <button
          class="add-to-cart"
          (click)="addToCart(); $event.stopImmediatePropagation()"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
